      <!-- 
        # input: {{ board }}, which is a list of lists of letters
      -->

<!doctype html>
<html lang="en">
<head>
  <title>Boggle</title>
  <link rel="stylesheet" href="/static/boggle.css">
</head>

<body>

<main>
  <table class="board">
    <tbody>
      <!--
        1. iterates through each row in board. create tr . TODO: give tr id.
          2. iterates through each letter in row. create td tags and link letters to it. append to tr
      -->
      {% for row in board%}
        <tr>
        {% for letter in row%}
          <td id="row-{{board.index(row)}}-col-{{row.index(letter)}}">{{letter}} </td>
        {%endfor%}
        </tr>
      {% endfor%}
    </tbody>
  </table>

  <br>
  <!-- form here -->
  <form action="/api/score-word" method="POST">
    <input type="text" name="player_word" required class="word-input">
    <button type="submit" class="word-input-btn">Go!</button>
  </form>
</main>

<p class="msg">
  <!-- our JS will put messages here dynamically -->
</p>

<ul id="words">
  <!-- our JS will words here as they score -->
</ul>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</body>
</html>
